{% extends 'base.html.twig' %}

{% block title %}Caves{% endblock %}

{% block body %}
<div class="home_admin"><a href="{{ path('product') }}"><i class="fa-solid fa-arrow-left"></i> Revenir à l'accueil</a></div>
{% for domain in domains|sort((a, b) => a.name <=> b.name) %}
    {# Ce chemin permet d'identifier les produits via l'id du domaine pour ressortir
    uniquement les bouteilles correspondantes à cet id #}

        <a href="{{ path('domain_show', {id:domain.id}) }}">
            <div class="filter_picture">
                <span class="filter_name">{{ domain }}<br></span><br>
                    <img src="{{ asset('image/domain/' ~ domain ~ '.jpg') }}">
            </div>
        </a>
{% endfor %}

{% endblock %}
