{% extends 'base.html.twig' %}

{% block title %}Erreur 403{% endblock %}

{% block body %}

<p>Vous n'avez pas les accès pour accéder à cette page !</p><br>

<img src="{{ asset('image/403.png') }}" alt="erreur"><br>

<p>Nous vous invitons à retourner vers notre page d'accueil en <a href="{{ path('product') }}">suivant ce lien</a></p>

{% endblock %}